---
title: Nishiki Liu
layout: default
---

<div id="swipe-area" class="no-scroll-wrapper">
  <div id="backdrop" class="backdrop"></div>
  <div id="backdrop-stars" class="backdrop stars"></div>
  <div id="backdrop-moon" class="backdrop moon"></div>
  <div id="backdrop-rocket" class="backdrop rocket">
    {% include illustrations/rocket.svg %}
  </div>
  <div class="svg-wrapper">
    {% include illustrations/home.svg %}
    {% include illustrations/desk.svg %}
    {% include illustrations/tabletop.svg %}
    {% include illustrations/space.svg %}
  </div>
</div>
